/* .home-container {
    width: 100%;
    height: 93%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
} */

/* .container-wallet-goals {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F2F2F2;
} */